ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  margin: 0 auto;
}

ul li {
  background-color: var(--component-background-color);
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
  width: 100%;
}

ul li:hover {
  cursor: pointer;
}

ul li h2 {
  align-items: center;
  display: flex;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: max(1vw, 1rem);
  line-height: 150%;
  margin-bottom: 1rem;
}

ul li .browse__post__list__info {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

@media screen and (min-width: 600px) {
  ul {
    margin: 1rem;
  }
}

.browse__no__content {
  display: grid;
  height: 80vh;
  place-items: center;
}
