<section class="browse__post__container">
  <ul>
    <li>
      <h2>Vantagens de se utilizar os serviços de balanceamento de tráfego</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>TRABALHO BALANCEAMENTO DE TRÁFEGO DE REDE MICROSOFT AZURE</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>Vantagens de se utilizar os serviços de balanceamento de tráfego</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>TRABALHO BALANCEAMENTO DE TRÁFEGO DE REDE MICROSOFT AZURE</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>Vantagens de se utilizar os serviços de balanceamento de tráfego</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>TRABALHO BALANCEAMENTO DE TRÁFEGO DE REDE MICROSOFT AZURE</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>Vantagens de se utilizar os serviços de balanceamento de tráfego</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>TRABALHO BALANCEAMENTO DE TRÁFEGO DE REDE MICROSOFT AZURE</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>Vantagens de se utilizar os serviços de balanceamento de tráfego</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>TRABALHO BALANCEAMENTO DE TRÁFEGO DE REDE MICROSOFT AZURE</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>Vantagens de se utilizar os serviços de balanceamento de tráfego</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>TRABALHO BALANCEAMENTO DE TRÁFEGO DE REDE MICROSOFT AZURE</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>Vantagens de se utilizar os serviços de balanceamento de tráfego</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>TRABALHO BALANCEAMENTO DE TRÁFEGO DE REDE MICROSOFT AZURE</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>Vantagens de se utilizar os serviços de balanceamento de tráfego</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>TRABALHO BALANCEAMENTO DE TRÁFEGO DE REDE MICROSOFT AZURE</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>Vantagens de se utilizar os serviços de balanceamento de tráfego</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>TRABALHO BALANCEAMENTO DE TRÁFEGO DE REDE MICROSOFT AZURE</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>Vantagens de se utilizar os serviços de balanceamento de tráfego</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>TRABALHO BALANCEAMENTO DE TRÁFEGO DE REDE MICROSOFT AZURE</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>Vantagens de se utilizar os serviços de balanceamento de tráfego</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>TRABALHO BALANCEAMENTO DE TRÁFEGO DE REDE MICROSOFT AZURE</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>Vantagens de se utilizar os serviços de balanceamento de tráfego</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>TRABALHO BALANCEAMENTO DE TRÁFEGO DE REDE MICROSOFT AZURE</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>Vantagens de se utilizar os serviços de balanceamento de tráfego</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>TRABALHO BALANCEAMENTO DE TRÁFEGO DE REDE MICROSOFT AZURE</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>Vantagens de se utilizar os serviços de balanceamento de tráfego</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>TRABALHO BALANCEAMENTO DE TRÁFEGO DE REDE MICROSOFT AZURE</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>Vantagens de se utilizar os serviços de balanceamento de tráfego</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>TRABALHO BALANCEAMENTO DE TRÁFEGO DE REDE MICROSOFT AZURE</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>Vantagens de se utilizar os serviços de balanceamento de tráfego</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>TRABALHO BALANCEAMENTO DE TRÁFEGO DE REDE MICROSOFT AZURE</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>Vantagens de se utilizar os serviços de balanceamento de tráfego</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>TRABALHO BALANCEAMENTO DE TRÁFEGO DE REDE MICROSOFT AZURE</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>Vantagens de se utilizar os serviços de balanceamento de tráfego</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>TRABALHO BALANCEAMENTO DE TRÁFEGO DE REDE MICROSOFT AZURE</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>Vantagens de se utilizar os serviços de balanceamento de tráfego</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>TRABALHO BALANCEAMENTO DE TRÁFEGO DE REDE MICROSOFT AZURE</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>Vantagens de se utilizar os serviços de balanceamento de tráfego</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>

    <li>
      <h2>TRABALHO BALANCEAMENTO DE TRÁFEGO DE REDE MICROSOFT AZURE</h2>
      <div class="browse__post__list__info">
        <span>Created at 2023</span>
        <span>Cesar Augusto</span>
      </div>
    </li>
  </ul>
</section>
