main {
  --primary-text-color: #f2f2f2;
  --secondary-text-color: #b3b3b3;

  --component-background-color: #222222;
  --app-background-color: rgb(13, 17, 23);

  --app-primary-color: #145c9e;

  --success-color: #238636;

  --editor-background-color: #010409;
  --editor-toolbar-background-color: #2a2f36;
}
